body {
  background: lightskyblue;
  margin: 0;
  padding: 0;
}

.boxImage{
  margin: auto;
  float: right;
  width: 60%;
  padding: 20px 20px 20px 10px;
}

.table{
  margin: auto;
  float: right;
  width: 90%;
  height: 85%;
}